#page {
    background-color: pink;
}

.header-one,
.header-two {
    color: white;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

.homephoto {
    height: auto;
    width: 500px;
    
}
